<div class="row">
  <div class="col-8 m-auto">
    <form [formGroup]="formGroupEmpresa">

      <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input type="email" formControlName="name" class="form-control" id="name" placeholder="name">
      </div>

	    <div class="mb-3">
        <label for="email" class="form-label">email:</label>
        <input type="email" formControlName="email" class="form-control" id="name" placeholder="email">
      </div>

      <div class="mb-3">
        <label for="resp" class="form-label">Responsavel:</label>
        <input type="email" formControlName="resp" class="form-control" id="resp" placeholder="Responsavel">
      </div>

      <div class="mb-3">
        <label for="cnpj" class="form-label">CNPJ:</label>
        <input type="email" formControlName="cnpj" class="form-control" id="cnpj" placeholder="11.111.111/1111-11">
      </div>

      <div class="mb-3 d-flex justify-content-end">
        <button class="btn btn-primary" (click)="Save()">Salvar</button>
      </div>

</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Responsavel</th>
      <th scope="col">CNPJ</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empresa of empresa">
      <th scope="row">{{empresa.id}}</th>
      <td>{{empresa.name}}</td>
      <td>{{empresa.email}}</td>
      <td>{{empresa.resp}}</td>
      <td>{{empresa.cnpj}}</td>
      <td class="d-flex justify-content-end">
        <button class="btn btn-primary m-1" (click)="Exluir(empresa)" >Excluir</button>
      </td>

    </tr>
  </tbody>
</table>



</div>
</div>
